<table cellpadding="0" cellspacing="0" border="0" width="100%"
       style="background-color: #FFFFFF;width: 100% !important; min-width: 100%; max-width: 100%;min-width: 340px; font-size: 1px; line-height: normal;">
    <tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600"
                   style="max-width: 600px; min-width: 320px;background-image: url({ASSETS_URL}/pattern.jpg);background-position: top center;">
                <tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                    <td align="left" valign="top">
                        <div style="height: 70px; line-height: 70px; font-size: 7px;"> </div>
                        <div
                            style="display: block;font-family: Arial, Tahoma, Geneva, sans-serif; color: #000; font-size: 30px; line-height: 30px;font-weight: bold;">
                            {PARTICIPANT_NAME}, привет!!
                        </div>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;"> </div>
                        <div
                            style="border-bottom-width: 2px;border-bottom-color: #28C38B; border-bottom-style: solid;"></div>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;"> </div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                </tr>
                <tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%"
                               style="max-width: 100%; min-width: 320px; background: #fff;">
                            <tr>
                                <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                                <td align="left" valign="middle">
                                    <div style="height: 20px; line-height: 20px; font-size: 7px;"> </div>
                                    <div
                                        style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">
                                        Мы по вам соскучились 😊 Возвращайтесь на курс, поделитесь, как прошло
                                        упражнение со счетом цифр.
                                    </div>
                                    <div style="height: 40px; line-height: 40px; font-size: 7px;"> </div>
                                    <div style="height: 40px; line-height: 40px; font-size: 7px;"> </div>


                                    <div style="display: block;text-align: center;">
                                        <table width="70%" align="center" cellpadding="0" cellspacing="0" border="0"
                                               style="background-color: #28C38B;border-radius: 25px;">
                                            <tr>
                                                <td style="font-family: Arial, Tahoma, Geneva, sans-serif;text-align: center;color: #fff; font-size: 14px;font-weight: bold;text-transform: uppercase;line-height: 20px;">
                                                    <a href="{STEP_URL}" target="_blank"
                                                       style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #fff; font-size: 14px; display: block;font-weight: bold;text-transform: uppercase;background-color: #28C38B;border-radius: 25px;text-decoration: none;padding: 16px 20px 16px;">
                                                        <div style="height: 1px; line-height: 1px; font-size: 1px;"> 
                                                        </div>
                                                        Читать
                                                        <div style="height: 1px; line-height: 1px; font-size: 1px;"> 
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="height: 40px; line-height: 40px; font-size: 7px;"> </div>
                                    <div style="height: 40px; line-height: 40px; font-size: 7px;"> </div>
                                    <div style="height: 40px; line-height: 40px; font-size: 7px;"> </div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif;
                                     color: #111111; font-size: 16px; line-height: 24px;display: block;">Шаг 6. Счет и
                                        внутренняя дисциплина
                                    </div>
                                    <div style="height: 20px; line-height: 40px; font-size: 7px;"> </div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif;
                                     color: #111111; font-size: 16px; line-height: 24px;display: block;">Пишите, если
                                        появились вопросы или были сложности с выполнением задания, мы будем рады
                                        помочь.
                                    </div>
                                    <div style="height: 20px; line-height: 40px; font-size: 7px;"> </div>

                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif;
                                     color: #111111; font-size: 16px; line-height: 24px;display: block;">Удачи,
                                    </div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif;
                                     color: #111111; font-size: 16px; line-height: 24px;display: block;">
                                        Зои
                                    </div>
                                    <div
                                        style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">
                                        Если это письмо выслано вам по ошибке, проигнорируйте его.
                                    </div>
                                    <div style="height: 30px; line-height: 30px; font-size: 7px;"> </div>
                                </td>
                                <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                            </tr>
                        </table>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;"> </div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600"
                   style="max-width: 600px; min-width: 320px;background: #464A52;">
                <tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                    <td align="center" valign="top">
                        <div style="height: 20px; line-height: 20px; font-size: 7px;"> </div>
                        <div
                            style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #d6d5d5; font-size: 16px; line-height: 24px;display: block;">
                            {COPYRIGHT}
                        </div>
                        <div style="height: 20px; line-height: 20px; font-size: 7px;"> </div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;"> </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
