<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #FFFFFF;width: 100% !important; min-width: 100%; max-width: 100%;min-width: 340px; font-size: 1px; line-height: normal;">
    <tbody><tr>
        <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px;background-image: url({ASSETS_URL}/pattern.jpg);background-position: top center;">
                <tbody><tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                    <td align="left" valign="top">
                        <div style="height: 70px; line-height: 70px; font-size: 7px;">&nbsp;</div>
                        <div style="display: block;font-family: Arial, Tahoma, Geneva, sans-serif; color: #000; font-size: 30px; line-height: 30px;font-weight: bold;">{PARTICIPANT_NAME}, привет!</div>
                        <div style="height: 15px; line-height: 15px; font-size: 15px;">&nbsp;</div>
                        <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 18px; line-height: 22px;display: block;">Поздравляю! Вы стали финалистом нашего курса. Надеюсь, что эти семь дней дали вам импульс к переменам. </div>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                        <div style="border-bottom-width: 2px;border-bottom-color: #28C38B; border-bottom-style: solid;"></div>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                    <td align="center" valign="top">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 100%; min-width: 320px; background: #fff;">
                            <tbody><tr>
                                <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                                <td align="left" valign="middle">
                                    <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">Продолжайте практику, прощайте обидчиков, смотрите в будущее с улыбкой и будьте в мире сами с собой. Не забывайте про «островки осознанности».</div>
                                    <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">И помните, что в любой тренировке самое важное – это регулярность. Чтобы не разочароваться в практике напрасно, обозначьте себе цель медитировать каждый день в течение 2-х месяцев. Только по прошествии этого времени делайте вывод об эффективности медитации или о вашей способности к ней. Это будет правильно.</div>
                                    <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">Для поддержки практикующих мы проводим бесплатные <a href="#" style="color: #111111; font-size: 16px; line-height: 24px;"><b>онлайн-Марафоны</b></a>. Это практика по освобождению сознания от травм нашего прошлого.</div>
                                    <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">Также мы проводим загородные мероприятия – <a href="#" style="color: #111111; font-size: 16px; line-height: 24px;"><b>Ретрит-молчания</b></a>. Как выпускнику курса мы дарим вам сертификат на посещение вашего первого Ретрита со скидкой 25%.</div>
                                    <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <a href="#" target="_blank" style="display: block; max-width: 480px;width: 100%;margin:0 auto">
                                                    <img src="{ASSETS_URL}/email-pic.jpg" alt="email-pic" width="480" height="311" border="0" style="display: block; width: 480px; height: auto; max-width: 100%;">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">Ваш номер сертификата: {CERTIFICATE}.</div>
                                    <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #111111; font-size: 16px; line-height: 24px;display: block;">Срок действия сертификата: {EXPIRATION_DATE}</div>
                                    <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                                </td>
                                <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                            </tr>
                            </tbody></table>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                </tr>
                </tbody></table>
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="table600" style="max-width: 600px; min-width: 320px;background: #464A52;">
                <tbody><tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                    <td align="left" valign="top">
                        <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                        <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #d6d5d5; font-size: 16px; line-height: 24px;display: block;">В нашем сообществе в <a href="#" style="color: #28C48B; font-size: 16px; line-height: 24px;border-bottom-width: 1px;border-bottom-color: #28C48B;border-bottom-style: solid;"><b>Facebook</b></a> вы найдете анонсы мероприятий. Добавляйтесь в друзья ко мне, чтобы оставаться на связи, страничка <a href="#" style="color: #28C48B; font-size: 16px; line-height: 24px;border-bottom-width: 1px;border-bottom-color: #28C48B;border-bottom-style: solid;"><b>здесь</b></a>.</div>
                        <div style="height: 30px; line-height: 30px; font-size: 7px;">&nbsp;</div>
                        <table width="70%" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #28C38B;border-radius: 25px;"><tbody><tr>
                            <td style="font-family: Arial, Tahoma, Geneva, sans-serif;text-align: center;color: #fff; font-size: 14px;font-weight: bold;text-transform: uppercase;line-height: 20px;">
                                <div style="border-bottom-width: 1px;border-bottom-color: #6d6d6d; border-bottom-style: solid;"></div>
                            </td>
                        </tr>
                        </tbody></table>
                        <div style="height: 10px; line-height: 10px; font-size: 7px;">&nbsp;</div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                    <td align="center" valign="top">
                        <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                        <div style="display: block; max-width: 80px;">
                            <img src="{ASSETS_URL}/zoi.png" alt="decor" width="80" border="0" style="display: block; width: 80px; max-width: 100%;">
                        </div>
                        <div style="height: 15px; line-height: 15px; font-size: 15px;">&nbsp;</div>
                        <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #d6d5d5; font-size: 18px; line-height: 18px;display: block;">Спасибо, что были с нами эти семь дней.</div>
                        <div style="height: 15px; line-height: 15px; font-size: 15px;">&nbsp;</div>
                        <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #d6d5d5; font-size: 18px; line-height: 18px;display: block;">Всего доброго!</div>
                        <div style="height: 10px; line-height: 10px; font-size: 7px;">&nbsp;</div>
                        <div style="font-family: Arial, Tahoma, Geneva, sans-serif; color: #d6d5d5; font-size: 18px; line-height: 18px;display: block;">Зои</div>
                        <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
                    </td>
                    <td width="30" style="width: 30px; max-width: 30px; min-width: 30px;">&nbsp;</td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    </tbody>
</table>
