<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Поздравляю! Вы стали финалистом нашего курса. Надеюсь, что эти семь дней дали вам импульс к переменам.</p>
    </div>
</div>
<div class="letter-info__content">
    <p>Продолжайте практику, прощайте обидчиков, смотрите в будущее с улыбкой и будьте в мире сами с собой. Не забывайте про «островки осознанности».</p>
    <p>И помните, что в любой тренировке самое важное – это регулярность. Чтобы не разочароваться в практике напрасно, обозначьте себе цель медитировать каждый день в течение 2-х месяцев. Только по прошествии этого времени делайте вывод об эффективности медитации или о вашей способности к ней. Это будет правильно.</p>
    <p>Для поддержки практикующих мы проводим бесплатные <a href="javascript:void(0);">онлайн-Марафоны</a>.  Это практика по освобождению сознания от травм нашего прошлого.</p>
    <p>Также мы проводим загородные мероприятия – <a href="javascript:void(0);">Ретрит-молчания</a>.  Как выпускнику курса мы дарим вам сертификат на посещение вашего первого Ретрита со скидкой 25%.</p><img src="/assets/img/certificate.jpg" alt="certificate">
    <p>Ваш номер сертификата: {CERTIFICATE}. <br>Срок действия сертификата: {EXPIRATION_DATE}</p>
</div>
<div class="letter-info__footer">
    <p>В нашем сообществе в <a href="javascript:void(0);">Facebook </a> вы найдете анонсы мероприятий. </p>
    <p>Добавляйтесь в друзья ко мне, чтобы оставаться на связи, страничка <a href="javascript:void(0);">здесь</a>.</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">Спасибо, что были с нами эти семь дней.<br>Всего доброго!<br>Зои</div>
    </div>
</div>
