<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Мы почти на финишной прямой, поэтому проведем медитацию «для опытных пользователей». :)</p>
    </div>
</div>
<div class="letter-info__content">
    <p>Это упражнение иногда дается на Ретрит-молчании. Не всем оно нравится, поскольку требует внутренней дисциплины мысли. Эта дисциплина необходима. И воспитывается она в подобных упражнениях.</p>
    <div class="h4 h4--green h4--dots">Дисциплина – ключ. Как говорят преподаватели нашей Академии: «Если мы не научимся управлять мыслями, то мысли будут управлять нами».</div>
    <p>Наши «островки осознанности» быстро потеряют свою магическую силу, если мы не будем их подпитывать домашними медитациями. Именно дома мы создаем опору для углубления медитативного состояния. А дневные микро-медитации будут распространять этот заряд в нашу повседневную жизнь.</p>
    <a class="btn" href="/step-6-counting"><span>Шаг 6. Счет и внутренняя дисциплина</span></a>
    <p>Когда выполните задание, обязательно напишите, как все прошло.</p>
</div>
<div class="letter-info__footer">
    <p>Это упражнение мне нравится своей понятностью. Несколько месяцев подряд каждый день в утренних медитациях я выполняла его, чтобы упорядочить хаотичные мысли.</p>
    <p>Но даже сейчас приходится преодолевать некоторый барьер, чтобы мозг переключился в особый режим созерцания цифр. Когда это упражнение получается, так я вообще его люблю. :)</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">До встречи! <br>Зои</div>
    </div>
</div>
