<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Мы преодолели экватор. Поздравляю!</p>
    </div>
</div>
<div class="letter-info__content">
    <p>Пришло время провести практику умиротворенного сознания. Это медитация с опорой на дыхание. Будем погружаться в дыхание и смирять эмоциональные страсти.</p>
    <p>В этот раз нашим союзником будет физиология, ведь глубина дыхания напрямую воздействует на ритмы центральной нервной системы. Для многих это довольно приятный вид медитации.</p>
    <div class="h4 h4--green h4--dots">Наблюдая за дыханием, мы управляем мышлением.</div>
    <p>Итак, выполняем медитацию умиротворенного сознания, или упражнение «Поплавок». Традиционно, пишите в комментариях о своих ощущениях. И рассказывайте, какие внутренние причины побуждают вас медитировать.</p>
    <a class="btn" href="/step-4-breathing"><span>Шаг 4. «Поплавок»</span></a>
</div>
<div class="letter-info__footer">
    <p>Сегодня я хочу поделиться с вами небольшим рассказом о моей практике и секретом, который позволяет мне практиковать много лет без перерыва.</p>
    <p>До прихода в Академию медитации у меня было несколько лет самостоятельных попыток в йоге, чтении молитв и духовных книг. Конечно, я считала себя продвинутым практиком! Сейчас это больше напоминает попытки собрать пазл-1000 наощупь, с закрытыми глазами.</p>
    <p>Я отчетливо помню то состояние, в котором попала на свой первый Семинар Академии медитации.</p>
    <p>Тогда я надеялась, что мне все по плечу, я верила в чудо. Я искала избавления от мук тоски по чему-то большему, хотела быстрых результатов.</p>
    <p>За годы прагматичной практики изменился мой образ жизни, подход к работе, окрепло здоровье и финансовое положение. И теперь я уже не надеюсь, что мне все по плечу. Теперь я вижу – мне все по плечу.</p>
    <p>Нащупать свой путь среди тысячи чужих дорог – это дорогого стоит.</p>
    <p class="h5 h5--white">Медитация позволяет прояснить сознание, отделить главное от неглавного, увидеть, как мы цепляемся за свои страхи, как гоняемся за ложными целями, как отравляем себя обидами…</p>
    <p>По сей день каждое участие в коллективных медитациях Академии повышает мое сознание на уровень, недосягаемый в самостоятельной практике. «Нelicopter view» – обзор своей жизни с высоты полета. Ретриты дают такой мощный импульс моему сознанию, что я начинаю понимать, куда двигаться дальше – что отбросить как лишнее, а что, наоборот, культивировать как ценное.</p>
    <p>И хотя хаос обстоятельств по-прежнему затягивает, я имею возможность время от времени выбираться на уровень стратегии и отделять зерна от плевел. В этом и есть сила коллективной медитации.</p>
    <p class="h5 h5--white">Один в поле не воин – это и есть секрет моей практики. :)</p>
    <p>П. С. Впереди нас ждет День осознанности.</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">Благодарю!<br>Зои</div>
    </div>
</div>
