<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Давайте поговорим о помехах в медитации и как их можно использовать.</p>
    </div>
</div>
<div class="letter-info__content">
    <p>«Ничего не получается», «медитация – это не мое», «это неправильная медитация» – только десятая часть возражений, которые использует наше эго, чтобы уклониться от практики.</p>
    <div class="h4 h4--green h4--dots">Если верить исследованиям источника Statistic Brain, современный человек по устойчивости внимания уступает… золотой рыбке. В среднем внимание человека переключается на следующий объект через 8 секунд, у рыбки – через 9 секунд.</div>
    <p>Поначалу моя медитация проходила так: я сажусь с четким намерением удерживать внимание на предмете медитации – кистях рук, дыхании и т. д. Но уже через пару минут ловлю себя на том, что выясняю отношения с сотрудниками! Снова возвращаюсь к объекту медитации. Но через несколько минут – уже планирую отпуск или мечтаю о новом месте работы.</p>
    <div class="h4 h4--green h4--dots">Блуждающее внимание – неизбежное явление при овладении медитацией.</div>
    <p>Но сегодня мы используем непостоянство внимания для построения практики.</p>
    <p>Удерживать внимание будет проще, если менять точку фокусировки, не меняя при этом объект и характер медитации. Мы будем фокусироваться на разных точках нашего тела.</p>
    <p>10–12 минут – совсем немного для такой динамической медитации.</p>
    <p>Поехали!</p>
    <a class="btn" href="/step-3-dynamic-meditation"><span>Шаг 3. «Динамическая» медитация</span></a>
</div>
<div class="letter-info__footer">
    <p>Обязательно поделитесь результатами с нами!</p>
    <p>Если будет интересно, прочитайте статью <a href="javascript:void(0);">«Пять врат медитации»</a>, где описаны основные преграды на пути этой практики. Мне она помогла увидеть, что мои переживания не уникальны, что этой дорогой идет каждый практикующий. Как ни странно, но в данном случае понимание своей неуникальности настраивает на труд.</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">Удачи!<br>Сквозь тернии к звездам,<br>Зои </div>
    </div>
    <p>П. С. Сейчас мне все чаще удается «просто пребывать в тишине». В чем мой секрет? Расскажу в следующем письме.</p>
</div>
