<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Сегодня у нас необычный день. <br>Проверим осознанность в действии.</p>
    </div>
</div>
<div class="letter-info__content">
    <p>На Ретрите мы практикуем в условиях затворничества: соблюдаем молчание и не общаемся с внешним миром. Просыпаемся до рассвета, медитируем по шесть-семь раз в день и проводим время наедине с собой.</p>
    <p>Все это дает хороший старт для внутренней трансформации.</p>
    <p>А потом жизнь проверяет на прочность наши достижения в медитации. Поэтому практика в течение рабочего дня необходима и даже более важна, чем «сидение».</p>
    <div class="letter-info__review letter-review">
        <div class="letter-review__top">
            <div class="letter-review__avatar"><img src="{ASSETS_URL}/avatar.svg" alt="avatar"></div>
            <div class="letter-review__name">Игорь Андриченко</div>
        </div>
        <div class="letter-review__text">
            <p>Напишу два своих главных результата за этот Ретрит: </p>
            <p>1) я смог внять тишине своего ума, то есть я смотрел в него и там было тихо почти всю медитацию. Для меня это важный результат и это состояние теперь по памяти и ощущениям я пытаюсь воспроизводить в последующих медитациях. </p>
            <p>2) я переосознал причину одного из давно терзающих страхов нехватки денег\остаться без денег. Сидя на перерыве, я посмотрел на страх и понял, что не сами деньги меня беспокоят, а страх БЫТЬ НЕ ХОРОШИМ ОТЦОМ, своим двум сыновьям, если не смогу обеспечить их достойным уровнем жизни. Осознав именно эту реальную причину моего беспокойства, мне стало намного легче.</p>
        </div>
    </div>
    <div class="h4 h4--green h4--dots">Но главное — то, что остается с нами после Ретрита. Что из этого мы сможем привнести в нашу жизнь в качестве образа действия?</div>
    <p>Чтобы начать интегрировать «сидение» и жизнь, попробуйте нечто особенное — практику осознанности, встроенную в обычный распорядок дня.</p>
    <p>Речь идет об 1–3–5 минутных микро-медитациях. Мы называем их «островками осознанности». Вам понадобится самостоятельно продумать вопрос организации этих островков в вашем рабочем графике.</p>
    <p>На работе они помогают лучше сконцентрироваться на задачах, отбросить лишние эмоции и переживания, принимать более дальновидные решения, расставить приоритеты и отказаться от ложных целей. </p>
    <p>В семье — легче проживать трудности и трения с близкими, постепенно сводя неприятности к нулю. В личной духовной практике — каждый день маленькими шажками следовать к своей истинной сути.</p>
    <a class="btn" href="/step-5-happyday"><span>Шаг 5. День осознанности</span></a>
</div>
<div class="letter-info__footer">
    <p>По правде, для меня это одно из самых сложных упражнений. Я работаю в офисе формата open-space в постоянном взаимодействии с людьми. И среди рабочего дня просто закрыть глаза для микро-медитации часто кажется не самой лучшей затеей (ведь «что обо мне подумают эти люди?»). Поэтому приходится как-то исхитряться. Но когда получается — оно того стоит.</p>
    <p class="h5 h5--white">Это одна из мощнейших техник!</p>
    <p>Со временем островки осознанности создадут портал в отдельную реальность, из которой вы будете черпать внутреннюю силу и устойчивость. С дальнейшим развитием практики вы сами перейдете на другую сторону «портала» и будете оттуда управлять делами — эффективно и позитивно.</p>
    <p class="h5 h5--white">День осознанности может стать настоящим приключением!</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">До скорого,<br>Зои</div>
    </div>
</div>
