<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Это последний урок нашего курса. Дни пролетели незаметно.</p>
    </div>
</div>
<div class="letter-info__content">
    <p>В этот раз выделите для практики чуть больше времени, чем обычно. </p>
    <p>После окончания медитации мы проведем какое-то время в благодарном молчании: пожелаем всем живым созданиям счастья и любви и поблагодарим мир за возможность почерпнуть эту небольшую каплю знаний. Культивация подобных ощущений — важный элемент духовного раскрытия. Это делает нас сильнее, дальновиднее, чище.</p>
    <div class="h4 h4--green h4--dots">Медитируйте каждый день. Пусть коротко, но с усердием и непреклонным упорством. А там, где упорство, успех прилагается. Это лишь вопрос времени.</div>
    <p>Опыт преподавателей нашей Академии говорит о том, что медитацию постигают не талантливые, а трудолюбивые. Научные исследования это подтверждают — почитайте статью <a href="javascript:void(0);">«Медитация vs талант»</a> на нашем сайте. </p>
    <p>В последнем отчете расскажите, какими для вас были эти 7 шагов. Буду рада видеть ваши комментарии! Для меня важно, что вы напишете.</p>
    <a class="btn" href="/step-7-gratitude"><span>ШАГ 7. ОСОЗНАННАЯ БЛАГОДАРНОСТЬ</span></a>
</div>
<div class="letter-info__footer">
    <p>После своего первого Ретрита я каждый день медитировала на рассвете по часу. Это было очень романтично. Правда, из этого часа больше половины я проводила в болтовне сама с собой.</p>
    <p>Я сверяла свои внутренние часы: если поток мыслей начинает идти на спад, значит, прошло где-то 30 минут сидения. Со временем нашла свое оптимальное время на ежедневную утреннюю практику — 20–30 минут. Часто — 15. Но даже 5 минут попыток концентрации делают мой день другим. </p>
    <p>На Ретритах я убедилась в решающей роли упорства и трудолюбия, когда после преодоления желания сбежать (потому что «все равно ничего не получается»), я получала в подарок невыразимо новое понимание себя и мира. Квантовый скачок, трансатлантическое путешествие туда, где становятся понятны законы причины и следствия.</p>
    <p>#name#, наше короткое приключение в 7 шагов подходит к концу, но лучшие техники медитации остаются с вами. Мы будем вам благодарны, если вы продолжите заниматься самостоятельно и добьетесь превосходных результатов!</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">Удачи вам, <br>Зои</div>
    </div>
</div>
