<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, привет!</h3>
    <div class="text-big">
        <p>Спасибо за первое занятие и за ваш первый отчет.</p>
    </div>
</div>
<div class="letter-info__content">
    <p>Иногда участники курса интересуются, я – реально существующий человек? Да, я реальный человек. Запись моего голоса слышите в заданиях нашего курса. И если однажды вы решитесь посетить Ретрит Академии медитации, то с большой вероятностью мы с вами познакомимся лично. :)</p>
    <p>Также вы можете ознакомиться с персональной страницей вашего куратора и почитать его <a href="javascript:void(0);">блог</a> на нашем сайте. Он тоже вполне реальный человек.</p>
    <div class="h4 h4--green h4--dots">Я заметила, что когда мы описываем свои ощущения, формулируем мысли, это помогает нам лучше понимать себя. Аналитическая работа – часть практики. В том числе поэтому мы просим вас описывать свой опыт.</div>
    <p>Возможно, вы уже столкнулись с тем, что тело не так легко удерживать в одном положении.</p>
    <p>Усидчивость и ноющее тело – первые препятствия для входа в медитацию. О них мы поговорим в следующий раз.</p>
    <p>А сейчас нас ждет новая медитация.</p>
    <a class="btn" href="/step-2-meditation-hands"><span>Шаг 2. Медитация на ладонях</span></a>
</div>
<div class="letter-info__footer">
    <p>Кстати, может быть, вы заметили, в конце страниц с заданиями, под комментариями, вас ожидает еще кое-что интересное.</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">До новых встреч,<br>Зои </div>
    </div>
</div>
