<div class="letter-info__header">
    <h3>{PARTICIPANT_NAME}, здравствуйте!</h3>
    <div class="text-big">
        <p>Меня зовут Зои. Я занимаюсь в Академии медитации с 2011 года и являюсь менеджером курса «7 шагов к медитации».</p>
    </div>
</div>
<div class="letter-info__content">
    <p>Я рада быть вашим проводником в небольшом путешествии к медитации.</p>
    <p>В течение курса вас будет сопровождать персональный куратор. С ним вы познакомитесь после того, как напишете первый отчет.</p>
    <h4 class="h4 h4--green h4--dots">Правила работы курса</h4>
    <ol class="list list--num">
        <li> <b>Доступ к следующему шагу </b>откроется автоматически после того, как ваш куратор напишет ответ на ваш отчет.</li>
        <li> <b>Куратор </b>будет наблюдать за вашим прогрессом. С ним можно консультироваться по любым вопросам, связанными с упражнениями.</li>
        <li> <b>Гибкий график. </b>Вы можете выполнять задания в течение нескольких дней. Для освоения медитации такой режим более эффективен.</li>
        <li> <b>Срок действия авторизации. </b>Если в течение двух недель мы не получим от вас очередной отчет, ваше участие автоматически закрывается. Но вы всегда можете начать сначала как новый участник</li>
    </ol>
    <h4 class="h4 h4--green h4--dots">Как не пропустить ответ куратора?</h4>
    <ol class="list list--num">
        <li>Мы будем высылать уведомление вам на почту, указанную при регистрации у нас или в соцсети.</li>
        <li>После отправки вашего первого отчета мы предложим вам включить уведомления об ответах куратора в браузере (если ваш браузер поддерживает эту функцию). Выберете «разрешить» или «блокировать» в сплывающем окне:<img src="{ASSETS_URL}/notice.png" alt="notice" style="width:400px"></li>
    </ol>
    <p>Готовы начинать?</p>
    <a class="btn" href="/step-1-meditation-posture"><span>Шаг 1. Первая медитация</span></a>
</div>
<div class="letter-info__footer">
    <p>Если у вас уже есть опыт в медитации, не спешите пропускать первое занятие.</p>
    <p>Ведь что может быть лучше выполненного задания?</p>
    <div class="letter-info__curator letter-curator">
        <div class="letter-curator__photo"><img src="{ASSETS_URL}/Zoe.jpg" alt="image"></div>
        <div class="letter-curator__text">Успехов!<br>Зои </div>
    </div>
</div>
